alabaster==0.7.7
Babel==2.2.0
backports.functools-lru-cache==1.5
caniusepython3==7.1.0
certifi==2019.9.11
chardet==3.0.2
distlib==0.2.9.post0
doc8==0.8.0
docutils==0.12
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.1
packaging==19.2
pbr==3.0.0
pkg-resources==0.0.0
Pygments==2.1.3
pyparsing==2.4.2
pytz==2015.7
requests==2.22.0
restructuredtext-lint==1.0.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
stevedore==1.21.0
urllib3==1.25.5
